<div class="nav-menu">
  <div class="avatar">
    <img class="avatar-img"
      src="https://img0.baidu.com/it/u=1533706996,3150334193&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=500">
    <div class="avatar-nickname">Dcolor</div>
  </div>
  <div class="nav-list">
    <div class="nav-item">全部文章</div>
    <div class="nav-item">分类</div>
    <div class="nav-item">关于</div>
    <div class="nav-item write-botton">写博客</div>
  </div>
</div>
<div class="banner">
  <div class="content">
    <div class="name">小律</div>
    <div class="brief">前端真的不是画CSS</div>
  </div>
</div>
<div class="article-list">
  <div class="title">全部文章</div>
  <div class="list">
    <div class="list-item">
      <div class="item-name">【主题】标题内容1</div>
      <div class="item-brief">
        简介啊</div>
      <div class="item-time">2022-05-08</div>
    </div>
    <div class="list-item">
      <div class="item-name">【主题】标题内容2</div>
      <div class="item-brief">
        没简介啊</div>
      <div class="item-time">2022-05-08</div>
    </div>
  </div>
</div>
